@tailwind base;
@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-right: 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.slide {
  height: 350px !important;
}
.carousel-root {
  width: 100% !important;
}
.carousel-slider {
  width: 100% !important;
}
.carousel {
  width: 100% !important;
}
.slick-initialized {
  width: 600px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .carousel-root {
    width: 384px !important;
  }
  .slide {
    height: 255px !important;
  }
}
@media (max-width: 768px) {
  .carousel-root {
    width: 100% !important;
  }
  .slide {
    height: 350px !important;
  }
  .slick-initialized {
    width: 400px;
  }
}
@media (max-width: 641px) {
  .carousel .slider-wrapper.axis-horizontal .slider {
    height: 200px;
  }
}
@media (max-width: 548px) {
  .slick-initialized {
    width: 300px;
  }
}
